<div style="text-align: center;">
<h1>Add Employee</h1>
</div>

<div>
<form #employeeModel="ngForm" (ngSubmit) = "Submit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input required minlength="4" maxlength="20" #name="ngModel" type="text" class="form-control" 
      id="name" name="name" placeholder="Enter Employee's Name" [ngModel]="!edit?employee.name:updateEmployee.name"
      (ngModelChange)="!edit?employee.name=$event:updateEmployee.name=$event">
      <span *ngIf="name.invalid" class="alert alert-danger"]>
          Enter Valid Name
      </span>
    </div> 
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input required minlength="10" maxlength="50" #address="ngModel" type="text" class="form-control" 
      id="address" name="address" placeholder="Enter Employee's Address" [ngModel]="!edit?employee.address:updateEmployee.address"
      (ngModelChange)="!edit?employee.address=$event:updateEmployee.address=$event">
      <span *ngIf="address.invalid" class="alert alert-danger">
        Enter Valid Address
    </span>
    </div>

    <!-- following is the code when input text field is required for designation -->
    <!-- <div class="mb-3">
      <label for="designation" class="form-label">Designation</label>
      <input required minlength="4" maxlength="25" #designation="ngModel" type="text" class="form-control" 
      id="designation" name="designation" placeholder="Enter Employee's Designation"[ngModel]="!edit?employee.designation:updateEmployee.designation"
      (ngModelChange)="!edit?employee.designation=$event:updateEmployee.designation=$event">
      <span *ngIf="designation.invalid" class="alert alert-danger">
        Enter valid Designation
    </span>
    </div> -->
    <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select Designation
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let designation of designations" (click)="Designation(designation)">{{designation}}</li>
      </ul>
    </div> -->
    
    <div class="dropdown">
      <label for="designation" class="form-label">Designation</label>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{edit?(updateEmployee.designation?updateEmployee.designation:selectDesignation):(employee.designation?employee.designation:selectDesignation)}}</button>
      <ul class="dropdown-menu">
        <li class="cursor-pointer" >
          <a class="dropdown-item" *ngFor="let designation of designations; index as i" (click)="Designation(designation)">{{designation}}</a>
        </li>
      </ul>
    </div>



    <button type="submit" class="btn btn-primary" [disabled]="edit" style="margin: 5px;">Submit</button>
    <button type="submit" class="btn btn-primary" *ngIf="edit" (click)="UpdateEmployee('update')" style="margin: 5px;">Update</button>
    <button type="submit" class="btn btn-primary" *ngIf="edit" (click)="UpdateEmployee('cancel')" style="margin: 5px;">Cancel</button>
  </form>
  <h1>Employees</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Designation</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th>{{employee.id}}</th>
        <td>{{employee.name | uppercase}}</td>
        <td>{{employee.address | uppercase}}</td>
        <td>{{employee.designation | uppercase}}</td>
        <td><input type="image" src="./assets/img/edit.png" style="width: 25px; padding: 3px;" (click)="EditEmployee(employee)">
        <input type="image" src="./assets/img/delete.png" style="width: 25px; padding: 3px;" (click)="DeleteEmployee(employee)"></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="modal" id="modal1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this employee</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="PopUpActions(false)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="PopUpActions(true)">Delete</button>
      </div>
    </div>
  </div>
</div> -->